<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>TNR Group | Home</title>

    <meta name="description" content="Sri Lanka’s leading provider of construction materials. From roofing to steel and cement bricks, we’re committed to delivering innovative solutions that meet the highest standards of quality and reliability." />
    <meta name="keywords" content="TNR, Sri, Lanka, Sri Lanka, Building, Construction, Bricks, Steel, Roofing, Innovative" />

    <link rel="icon" type="image/png" href="favico.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />

    <meta property="og:title" content="TNR Group | Home" />
    <meta property="og:description" content="Sri Lanka’s leading provider of construction materials" />
    <meta property="og:image" content="https://www.tnr.lk/soc.jpg" />
    <meta property="og:image:url" content="http://www.tnr.lk/soc.jpg" />
    <meta property="og:image:secure_url" content="https://www.tnr.lk/soc.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />

    <meta name="robots" content="max-image-preview:large" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.6.0/vegas.min.css" integrity="sha512-1Z0z85WROTKiK0kBRjS8FbgLdYkGGzyPM66y7V/CIAB6ZTA5iKUei/3UoZAxtVFy2Nj8ddDt+cvduzeqfJZx9w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/swiper.css" />
</head>

<body>
    <div class="container-fluid jumbo" id="jumbo">
        <div class="container h-100 pt-5">
            <div class="row h-100">
                <div class="col-md-5 v-center-box balanced">
                    <img src="media/logo.webp" style="width:280px; max-width: 80%" alt="TNR" data-aos="fade-down" data-aos-duration="3000" />
                    <br>
                    <img src="media/intro.png" class="intro-ttl" alt="" data-aos="fade-up" data-aos-duration="3000" />
                    <br> Sri Lanka’s leading provider of construction materials. From roofing to steel and cement bricks, we’re committed to delivering innovative solutions that meet the highest standards of quality and reliability. With over 25 years
                    of experience, we are your trusted partner for projects big and small.
                    <button class="jumbo-btn" onclick="userLogin()">User Login</button>
                </div>
                <div class="col-md-7 jumbo-hl">
                    <!-- <img src="media/hl1.png" class="w-100" alt="" /> -->
                    <video autoplay loop muted playsinline class="jumbo-hl-vdo" data-aos="fade-up" data-aos-duration="3000">
                        <source src="media/hl.webm" type="video/webm" />
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bgwhite">
        <div class="container section">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-ttl" data-aos="fade-down-right">Our Divisions</div>
                </div>
                <div class="col-md-6">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem atque quo non nostrum dicta maxime rerum id debitis possimus minima. Laboriosam expedita non illum porro vel repudiandae doloribus, eum reiciendis. -->
                </div>
            </div>
            <div class="row sectors-grid">
                <div class="col-md-6">
                    <div class="sector" data-aos="zoom-out" data-aos-delay="100">
                        <div class="sector-bg tnr-ent"></div>
                        <div class="sector-ttl">TNR ENTERPRISES</div>
                        <div class="sector-desc">
                            Distributing building materials to<br />Hardware stores Island wide.
                        </div>
                        <!-- <a href="tnr-enterprises.php" class="sector-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sector" data-aos="zoom-out" data-aos-delay="150">
                        <div class="sector-bg tnr-roof"></div>
                        <div class="sector-ttl">TNR Roofing</div>
                        <div class="sector-desc">
                            Premium roofing solutions designed for Sri Lanka’s diverse weather conditions.
                        </div>
                        <!-- <a href="tnr-roofing.php" class="sector-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sector" data-aos="zoom-out" data-aos-delay="200">
                        <div class="sector-bg tnr-is"></div>
                        <div class="sector-ttl">TNR Ironwill Steel</div>
                        <div class="sector-desc">
                            Leading in steel production and refabrication for strong and durable structures.
                        </div>
                        <!-- <a href="tnr-ironwill-steel.php" class="sector-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sector" data-aos="zoom-out" data-aos-delay="250">
                        <div class="sector-bg tnr-cb"></div>
                        <div class="sector-ttl">TNR Cement Bricks</div>
                        <div class="sector-desc">
                            Manufacturer of eco-friendly cement blocks and interlock paving.
                        </div>
                        <!-- <a href="tnr-cement-bricks.php" class="sector-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sector" data-aos="zoom-out" data-aos-delay="300">
                        <div class="sector-bg tnr-show"></div>
                        <div class="sector-ttl">TNR Showroom</div>
                        <div class="sector-desc">
                            Retailing our diverse product range in Wennappuwa and surrounding areas.
                        </div>
                        <!-- <a href="tnr-showroom.php" class="sector-btn">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bgwhite blue-top-line">
        <div class="container section">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-ttl" data-aos="fade-down-right">Why Choose TNR Group</div>
                    <div class="space"></div>
                </div>
                <div class="col-6 col-md-3 why-box">
                    <img src="media/why1.png" class="why-tick" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" />
                    <span class="why-text">Over 25 years of trusted service in the construction industry.</span>
                </div>
                <div class="col-6 col-md-3 why-box">
                    <img src="media/why2.png" class="why-tick" alt="" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000" />
                    <span class="why-text">Comprehensive product range for all construction and agricultural
                        needs.</span>
                </div>
                <div class="col-6 col-md-3 why-box">
                    <img src="media/why3.png" class="why-tick" alt="" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" />
                    <span class="why-text">Reliable and consistent quality, trusted by contractors and homeowners
                        alike.</span>
                </div>
                <div class="col-6 col-md-3 why-box">
                    <img src="media/why4.png" class="why-tick" alt="" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" />
                    <span class="why-text">Islandwide availability with an extensive distribution network.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bgblue">
        <div class="container section">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-ttl" data-aos="fade-down-right">Products</div>
                </div>
                <div class="col-md-6">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem atque quo non nostrum dicta maxime rerum id debitis possimus minima. Laboriosam expedita non illum porro vel repudiandae doloribus, eum reiciendis. -->
                </div>
            </div>
            <div class="row products-grid">

                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="product">
                        <div class="prod-img"><img src="products/ra.jpg" class="" alt="" /></div>
                        <div class="prod-text">
                            <div class="prod-cat">TNR Roofing</div>
                            <div class="prod-ttl">TNR Roofing Accessories
                            </div>
                            <!-- <div class="prod-arrow"><i class="fa-solid fa-arrow-right"></i></div> -->
                        </div>
                    </a>
                </div>


                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="product">
                        <div class="prod-img"><img src="products/ss.png" class="" alt="" /></div>
                        <div class="prod-text">
                            <div class="prod-cat">TNR Ironwill Steel</div>
                            <div class="prod-ttl">Steel Stirrups</div>
                            <!-- <div class="prod-arrow"><i class="fa-solid fa-arrow-right"></i></div> -->
                        </div>
                    </a>
                </div>


                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="product">
                        <div class="prod-img"><img src="products/znalrs.jpg" class="" alt="" /></div>
                        <div class="prod-text">
                            <div class="prod-cat">TNR Roofing</div>
                            <div class="prod-ttl">Zn/ Al Roofing Sheets
                            </div>
                            <!-- <div class="prod-arrow"><i class="fa-solid fa-arrow-right"></i></div> -->
                        </div>
                    </a>
                </div>


                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="product">
                        <div class="prod-img"><img src="products/wn.png" class="" alt="" /></div>
                        <div class="prod-text">
                            <div class="prod-cat">TNR Ironwill Steel</div>
                            <div class="prod-ttl">Wire Nails</div>
                            <!-- <div class="prod-arrow"><i class="fa-solid fa-arrow-right"></i></div> -->
                        </div>
                    </a>
                </div>


                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="product">
                        <div class="prod-img"><img src="products/bw.png" class="" alt="" /></div>
                        <div class="prod-text">
                            <div class="prod-cat">TNR Ironwill Steel</div>
                            <div class="prod-ttl">Barbed Wire</div>
                            <!-- <div class="prod-arrow"><i class="fa-solid fa-arrow-right"></i></div> -->
                        </div>
                    </a>
                </div>


                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="product">
                        <div class="prod-img"><img src="products/girs.jpg" class="" alt="" /></div>
                        <div class="prod-text">
                            <div class="prod-cat">TNR Roofing</div>
                            <div class="prod-ttl">GI Roofing Sheets
                            </div>
                            <!-- <div class="prod-arrow"><i class="fa-solid fa-arrow-right"></i></div> -->
                        </div>
                    </a>
                </div>


                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="product">
                        <div class="prod-img"><img src="products/cb.png" class="" alt="" /></div>
                        <div class="prod-text">
                            <div class="prod-cat">TNR Cement Bricks</div>
                            <div class="prod-ttl">Cement Blocks &amp; Interlock Paving</div>
                            <!-- <div class="prod-arrow"><i class="fa-solid fa-arrow-right"></i></div> -->
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bgwhite">
        <div class="container section">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-ttl" data-aos="fade-down-right">Brands</div>
                </div>
                <div class="col-md-6">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem atque quo non nostrum dicta maxime rerum id debitis possimus minima. Laboriosam expedita non illum porro vel repudiandae doloribus, eum reiciendis. -->
                </div>
            </div>
            <div class="row brands-grid">
                <div class="col-md-12">
                    <div class="swiper swiper-brands">
                        <div class="swiper-wrapper swiper-brands-wrapper">
                            <div class="swiper-slide">
                                <img class="brands-logos" src="media/brands/melwa.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="brands-logos" src="media/brands/janatha.jpg" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="brands-logos" src="media/brands/gtb.jpeg" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="brands-logos" src="media/brands/melwa.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="brands-logos" src="media/brands/janatha.jpg" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="brands-logos" src="media/brands/gtb.jpeg" alt="" />
                            </div>
                        </div>
                        <!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bgblue" id="letstalk">
        <div class="container section">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-ttl deskonly" data-aos="fade-down-right"><span class="oneline">Let's</span> Talk
                    </div>
                    <div class="section-ttl mobonly" data-aos="fade-down-right">Let's Talk</div>
                    <br />
                    <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur totam consectetur nostrum deserunt incidunt aliquid facilis excepturi, officiis beatae, laudantium, perferendis maiores veritatis. Distinctio accusamus dolorum quaerat est nostrum enim! 
            <br><br>-->
                    <ul>
                        <li>We will respond to you within 24 hours.</li>
                        <li>Access to dedicated product specialists.</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="quick-cont-box">
                        <form action="send-lets-talk-box.php" method="POST" class="contact-box">
                            <div class="form-floating">
                                <select class="form-select cont-input" id="floatingSelect" name="inquiryType" aria-label="Floating label select example" required>
                                <option class="cont-select-option" disabled selected>Please select . . .
                                </option>
                                <option class="cont-select-option" value="Quote Request">Get a Quote
                                </option>
                                <option class="cont-select-option" value="General Inquiry">General Inquiry
                                </option>
                                <option class="cont-select-option" value="Project Inquiry">Project Inquiry</option>
                                <option class="cont-select-option" value="Complaint">Complaint Submission</option>
                                <option class="cont-select-option" value="Other Inquiry">Other</option>
                            </select>
                                <label for="floatingSelect">Purpose of your Inquiry</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control cont-input" id="uname" name="name" placeholder="Sunil Perera" required />
                                <label for="uname">Your Name</label>
                            </div>
                            <div class="form-floating">
                                <input type="email" class="form-control cont-input" id="uemail" name="email" placeholder="sunil@gmail.com" required />
                                <label for="uemail">Email Address</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control cont-input" id="umobile" name="mobile" placeholder="0777123456" required />
                                <label for="umobile">Mobile Number</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control cont-input" placeholder="Explanation" id="uinquiry" name="details" style="height: 100px" required></textarea>
                                <label for="uinquiry">More Details of your Inquiry</label>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="cont-subm">
                                Send a Message <i class="fa-paper-plane fa-regular"></i>
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer">
        <div class="container section">
            <div class="row">
                <div class="col-md-12 footer-2">
                    <img src="media/logo.webp" class="footer-logo" alt="" />
                    <hr class="nav-hr">
                    <div class="footer-socials">
                        <a href="https://www.facebook.com/TNRsrilanka" target="blank" class="footer-social"><i
                            class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/tnrsrilanka" target="blank" class="footer-social"><i
                            class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/tnrsrilanka/" target="blank" class="footer-social"><i
                            class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.6.0/vegas.min.js" integrity="sha512-uOfjbJAFkZh3u1rr5UVKy3/SqJ+JSLzv28/8lgMSdeofAoHaOLA5Hdr/oZ/IEPaOthxjHDa/z9Ng4Th3ClNT5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/main.js"></script>
</body>

</html>